<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.context.healthcheck</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SCRIPTS_DIR__/context_healthcheck.sh</string>
    <string>--quiet</string>
  </array>
  <key>StartInterval</key><integer>300</integer>
  <key>StandardOutPath</key><string>__LOG_DIR__/healthcheck.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/healthcheck.err</string>
</dict>
</plist>
